/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 20 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.20rem center;
  padding-right: 0.5rem;
  width: 106px;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

input {
  font-family: inherit;
}

h2 {
  text-align: center;
}

.app-background{
  background-color: #63788a;
}

.text-primary{
  color: #6596be;
}

.bg-primary{
  background-color: #6596be;
}

.bg-primary:hover{
  background-color: #4b6f8d;
}

.rc-input-number-handler-wrap {
  border-left: none !important;
}

.rc-input-number-handler {
  border-bottom: none !important;
}

.rc-input-number {
  height: 45px;
  font-size: 16px;
  border: 2px solid #d1d5db !important;
  border-radius: 0.5rem !important;
}

.rc-input-number-input {
  height: 38px;
  font-size: 16px;
  padding: 0.5rem 0.75rem;
}

.rc-input-number:focus-within {
  border-color: #6596be !important;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2) !important;
}

.rc-input-number-handler-wrap {
  border-left: none !important;
  height: 100% !important;
}

.rc-input-number-handler {
  border-bottom: none !important;
  height: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.rc-input-number-handler-up {
  border-top-right-radius: 0.5rem !important;
}

.rc-input-number-handler-down {
  border-bottom-right-radius: 0.5rem !important;
}